{% extends 'base.html' %}

{% block title %}注册{% endblock %}

{% block css %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="center-block">
            <div id="tabs">
                <ul id="regisiter" class="nav nav-tabs">
                    <li class="active"><a href="#login" data-toggle="tab">登录</a> </li>
                    <li><a href="#siginup" data-toggle="tab">注册</a> </li>
                </ul>
                <div class="regisiter_tabs tab-content">
                    <div id="login" class="tab-pane fade in active">

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}