{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
<header>
{% include 'head.html' %}
</header>
{% block content %}{% endblock %}
<footer>
    {% include 'foot.html' %}
</footer>
<script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
{% block script %}{% endblock %}
</body>
</html>